body{
    background-color: black;
    font-family: 'Khand', sans-serif;
}

h1,h2,h3,h4,p {
    margin: 0;
}

.post {
    margin: 5rem;
    width: 25rem;
    background-color: white;    
}

.post-header, .post-footer{
    padding: 0.5rem;
}

.w-100 {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.float-right {
    float: right;
}

.ml-auto {
    margin-left: auto;
}